body {
    background: rgb(33, 0, 189);
    background: linear-gradient(180deg, rgba(33, 0, 189, 1) 0%, rgba(54, 17, 145, 1) 50%, rgba(139, 0, 255, 1) 100%);
}

.navbar-brand {
    font-family: 'Cinzel', serif;
    margin-right: 5%;
}

#dogLogo {
    margin-right: 10%;
}

a {
    color: #f8bb35;
}

a:hover {
    color: #5700a8;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #5700a8;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-indicators {
    filter: invert(100%);
}

.card-header {
    padding: 0%;
    border-bottom: none;
    font-family: 'Lora', serif;
    color: black;
}

.nav-link {
    font-family: 'Lora', serif;
}

.card-body {
    font-family: 'Lora', serif;
}

.carousel-item {
    height: 30vw;
    object-fit: cover;
}

.span-title {
    font-family: 'Lora', serif;
    padding-left: 5px;
    font-size: larger;
    font-weight: 600;
}

.span-description-large {
    font-family: 'Cinzel', serif;
    font-size: 40px;
    color: #5700a8;
    font-weight: 900;
    padding-left: 20px;
}

.span-description {
    font-size: large;
    font-weight: 500;
    margin-left: 10px;
}

#category {
    font-family: 'Cinzel', serif;
    color: #5700a8;
    font-weight: 900;
    font-size: x-large;
}